.logo-pos {
  display: flex;
  align-items: center;
}

.title-flex {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

table {
  border-collapse: collapse;
}

th, td {
  font-size: 10px;
  border: 1px solid rgb(255, 255, 255, 0.1);
}

.no-border {
  border: none !important;
}

.opp-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}
