<!-- <pre>{{ player | json}}</pre> -->
<h1 mat-dialog-title class="title-flex">
  <span class="logo-pos">
    <img src="{{player.teamLogo}}" alt="" style="width: 40px; margin-right: 6px;">
    <span style="font-size: 16px;">{{ player.pos }}</span>
  </span>
  <span class="spacer"></span>
  <span>{{ player.name }}</span>
</h1>
<div mat-dialog-content>
  <table>
    <th *ngFor="let header of tableHeaders$ | async">{{ header }}</th>
    <!--  style="font-family: monospace" -->
  </table>
  <!-- <pre>individual game stats + scoring coming soon</pre> -->
</div>
<!-- <div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</div> -->
