.header-container {
  display: flex;
  margin-left: 10px;
}

.stats-container {
  display: flex;
}

.new-stat-field {
  width: 100px;
  margin-left: 10px;
}

.submit-button {
  width: 400px;
  margin-left: 10px;
}

.existing-stat-container {
  display: flex;

}
