<div mat-dialog-title class="title-flex">
  <span class="logo-pos">
    <span class="font__color--gray slot-label">{{ player.slotLabel }}</span>
    <img src="{{ player.headShot }}" alt="" class="player-headshot" />
  </span>
  <div class="margin__left--10px">
    <span>{{ player.name }}</span>
    <div class="subtitle font__color--gray">
      <small class="margin__right--10px">{{ player.pos }}</small>
      <small>{{ player.team }}</small>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <table>
    <thead>
      <tr>
        <th
          *ngFor="let header of tableHeaders$ | async; let idx = index"
          style="padding: 4px"
          [class.no-border]="idx <= 1"
        >
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of playerGameLog$ | async">
        <td
          *ngFor="let header of tableHeaders$ | async; let idx = index"
          style="font-family: monospace; padding: 4px; text-align: center"
        >
          <div *ngIf="idx === 0" class="display__flex flex__align--center">
            <small class="margin__right--10px">vs.</small>
            <img src="{{ game.oppTeamLogo }}" alt="" class="opp-logo" />
          </div>
          <span *ngIf="idx === 1">{{ game.gamePoints.toFixed(2) }}pts</span>
          <span *ngIf="idx > 1">{{ game.statLine[header] }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
