<mat-sidenav-container>
  <mat-sidenav #sidenav [(opened)]="opened" class="side-nav">
    <mat-nav-list>
      <div style="text-align: center; font-size: 24px; padding: 20px;">🏈</div>
      <a mat-list-item [routerLink]="['/']">Leaderboard</a>
      <a mat-list-item [routerLink]="['/breakdown']">Player Selection Breakdown</a>
      <!-- <a mat-list-item href="https://docs.google.com/forms/d/e/1FAIpQLSefTWea9aFMItxXq30BL7ssUDSAdS0JXlKlm0zzZmWFXkmW5w/viewform?usp=sf_link" target="_blank">Entry Form</a> -->
      <a mat-list-item href="https://support.espn.com/hc/en-us/articles/360003914032-Scoring-Formats" target="_blank">Scoring Format (PPR)</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <div class="header-bar">
        <button mat-icon-button (click)="opened = true"><mat-icon>menu</mat-icon></button>
        <h1>Player Selection Breakdown</h1>
      </div>
      <div>
        <div *ngFor="let chart of barCharts" class="chart">
          <canvas baseChart
          [data]="chart.data"
          [options]="chart.options"
          [plugins]="barChartPlugins"
          [type]="barChartType"
          >
        </canvas>
          <!-- <canvas baseChart
                  [data]="chart.data"
                  [type]="pieChartType"
                  [options]="chart.options"
                  [plugins]="pieChartPlugins">
          </canvas> -->
          <!-- <pre>{{ chart | json}}</pre> -->
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
