<mat-sidenav-container>
  <mat-sidenav #sidenav [(opened)]="opened" class="side-nav">
    <mat-nav-list>
      <div style="text-align: center; font-size: 24px; padding: 20px;">🏈</div>
      <a mat-list-item href="https://docs.google.com/forms/d/e/1FAIpQLSefTWea9aFMItxXq30BL7ssUDSAdS0JXlKlm0zzZmWFXkmW5w/viewform?usp=sf_link" target="_blank">Entry Form</a>
      <a mat-list-item href="https://support.espn.com/hc/en-us/articles/360003914032-Scoring-Formats" target="_blank">Scoring Format (PPR)</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="header-bar">
      <button mat-icon-button (click)="opened = true"><mat-icon>menu</mat-icon></button>
      <h1>NFL Fantasy Playoff Pool</h1>
    </div>


    <div class="pot">
      <h2>💰 ${{ (scoreboardData$ | async)?.length * 20}} Pot</h2>
      <small>note: working through some bugs during these first games, everything should be accurate by tomorrow</small>
    </div>

    <mat-accordion class="headers-align" multi>
      <mat-expansion-panel *ngFor="let entry of (scoreboardData$ | async); let idx = index" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="header-padding">
          <mat-panel-title [ngSwitch]="idx">
            <span *ngSwitchCase="0" style="font-size: 20px;">
              <span style="margin-right: 5px;">🥇</span>
              {{ entry.teamName }}
            </span>
            <span *ngSwitchCase="1" style="font-size: 18px;">
              <span style="margin-right: 5px;">🥈</span>
              {{ entry.teamName }}
            </span>
            <span *ngSwitchDefault>
              <span style="margin-right: 5px;">{{idx + 1}}. </span>
              {{ entry.teamName }}
            </span>
          </mat-panel-title>
          <mat-panel-description style="display: flex; align-items: center;">
            {{ entry.totalPoints.toFixed(2) }}pts
            <span style="font-size: 10px; margin-left: 7px">{{ entry.remainingPlayers}} alive</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="roster-info">
          <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let player of entry.roster" (click)="openStatsDialog(player)">
              <mat-icon mat-list-icon class="roster-position">
                <span [class.eliminated]="player.eliminated">{{ player.pos }}</span>
              </mat-icon>
              <div mat-line class="player-info">
                <img src="{{player.teamLogo}}" alt="" style="width: 24px">
                <span [class.eliminated]="player.eliminated" [class.alive]="!player.eliminated"> {{ player.name.split('(')[0] }}</span>
                <span> {{ player.points.toFixed(2) }}pts</span>
              </div>
            </mat-list-option>
          </mat-selection-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav-content>
</mat-sidenav-container>

