h1 {
  font-family: "Roboto Slab", serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.side-nav {
  min-width: 40%;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.avatar {
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.nav-list-container {
  height: calc(100% - 16px);
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.pot {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

.roster-position {
  font-size: 14px !important;
  font-family: "Roboto" sans-serif !important;
}

.player-info {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.eliminated {
  color: #e33b3b;
}

.alive {
  color: #3be368;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-evenly;
  align-items: center;
}

.header-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blue-button {
  background-color: #008cff;
}

.flex-container {
  display: flex;
  align-items: center;
}
.venmo-button {
  background-color: #009cde;
  border-radius: 5px;
}
.venmo-logo {
  display: block;
  padding: 10px;
  height: 30px;
}
.left-10 {
  margin-left: 10px;
}
